body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:7009px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:622px;
}
#u1811 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:165px;
  width:1220px;
  height:622px;
}
#u1812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:303px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:622px;
}
#u1813 {
  border-width:0px;
  position:absolute;
  left:5789px;
  top:165px;
  width:1220px;
  height:622px;
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:303px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:622px;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:1577px;
  top:165px;
  width:1220px;
  height:622px;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:303px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:622px;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:2979px;
  top:165px;
  width:1220px;
  height:622px;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:303px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:120px;
  width:65px;
  height:45px;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  height:632px;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:4363px;
  top:155px;
  width:1224px;
  height:632px;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:308px;
  width:1220px;
  visibility:hidden;
  word-wrap:break-word;
}
