body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:6584px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1217px;
  height:622px;
}
#u1799 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:93px;
  width:1217px;
  height:622px;
}
#u1800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:303px;
  width:1213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1217px;
  height:622px;
}
#u1801 {
  border-width:0px;
  position:absolute;
  left:1413px;
  top:93px;
  width:1217px;
  height:622px;
}
#u1802 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:303px;
  width:1213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1217px;
  height:622px;
}
#u1803 {
  border-width:0px;
  position:absolute;
  left:2730px;
  top:93px;
  width:1217px;
  height:622px;
}
#u1804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:303px;
  width:1213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1217px;
  height:622px;
}
#u1805 {
  border-width:0px;
  position:absolute;
  left:4031px;
  top:93px;
  width:1217px;
  height:622px;
}
#u1806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:303px;
  width:1213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1217px;
  height:622px;
}
#u1807 {
  border-width:0px;
  position:absolute;
  left:5367px;
  top:93px;
  width:1217px;
  height:622px;
}
#u1808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:303px;
  width:1213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1809 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:48px;
  width:65px;
  height:45px;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
