body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:742px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:448px;
}
#u1578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:448px;
}
#u1579 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:216px;
  width:738px;
  visibility:hidden;
  word-wrap:break-word;
}
