body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1183px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:166px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.866666666666667);
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:81px;
  width:110px;
  height:166px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.866666666666667);
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:159px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1669_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u1669_seg1 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:47px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:135px;
  width:108px;
  height:47px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u1673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:47px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:135px;
  width:189px;
  height:47px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:159px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1675_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u1675_seg1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:159px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1677_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u1677_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:159px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1679_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u1679_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-4px;
  width:8px;
  height:149px;
}
#u1679_seg2 {
  border-width:0px;
  position:absolute;
  left:-1081px;
  top:137px;
  width:1102px;
  height:8px;
}
#u1679_seg3 {
  border-width:0px;
  position:absolute;
  left:-1081px;
  top:68px;
  width:8px;
  height:77px;
}
#u1679_seg4 {
  border-width:0px;
  position:absolute;
  left:-1086px;
  top:62px;
  width:18px;
  height:18px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:-538px;
  top:132px;
  width:100px;
  word-wrap:break-word;
}
#u1681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:47px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:135px;
  width:90px;
  height:47px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:159px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1683_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u1683_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:65px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:59px;
  width:110px;
  height:65px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u1687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:65px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:59px;
  width:110px;
  height:65px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u1689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:87px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:115px;
  width:145px;
  height:87px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:141px;
  word-wrap:break-word;
}
#u1691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:193px;
  width:83px;
  height:34px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(51, 51, 51, 0.866666666666667);
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u1693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:38px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:140px;
  width:83px;
  height:38px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u1695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:245px;
  width:90px;
  height:37px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:202px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1697_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u1697_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:18px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u1699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:47px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:187px;
  width:90px;
  height:47px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u1701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:244px;
  width:90px;
  height:38px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:210px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1703_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:17px;
  height:8px;
}
#u1703_seg1 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-4px;
  width:8px;
  height:9px;
}
#u1703_seg2 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-3px;
  width:16px;
  height:8px;
}
#u1703_seg3 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-8px;
  width:18px;
  height:18px;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:210px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1705_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:17px;
  height:8px;
}
#u1705_seg1 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-4px;
  width:8px;
  height:61px;
}
#u1705_seg2 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:49px;
  width:16px;
  height:8px;
}
#u1705_seg3 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:44px;
  width:18px;
  height:18px;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:81px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1707_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-45px;
  width:8px;
  height:45px;
}
#u1707_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-45px;
  width:564px;
  height:8px;
}
#u1707_seg2 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:-45px;
  width:8px;
  height:23px;
}
#u1707_seg3 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:-34px;
  width:18px;
  height:18px;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:-49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:81px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1709_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-45px;
  width:8px;
  height:45px;
}
#u1709_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-45px;
  width:684px;
  height:8px;
}
#u1709_seg2 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:-45px;
  width:8px;
  height:23px;
}
#u1709_seg3 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:-34px;
  width:18px;
  height:18px;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:-49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:87px;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:115px;
  width:145px;
  height:87px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:141px;
  word-wrap:break-word;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:159px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1713_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u1713_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:115px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1715_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-27px;
  width:8px;
  height:27px;
}
#u1715_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-27px;
  width:86px;
  height:8px;
}
#u1715_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-32px;
  width:18px;
  height:18px;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-32px;
  width:100px;
  word-wrap:break-word;
}
